* {
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.container {
    width: 500px;
    height: 700px;
    background-color: #4d4d4d;
    border-radius: 60px;
    padding: 50px;
}

.result_box {
    width:100%;
    height: 15%;
    background-color: #000000;
    color: white;
    border-radius: 20px;
    padding: 20px;
}

#result_show {
    font-size: 40px;
    padding-right: 10px;
    margin: 0;
    text-align: right;
}

.number_box {
    width: 100%;
    height: 21%;
    padding-top: 10%;
}

.btn {
    width: 21%;
    height: 100%;
    color: black;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.number_btn {
    background-color: white;
}

.btn_text {
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}

.operation_btn {
    background-color: #61d0d4;
}

#equal_btn {
    background-color: #e83556;
    color: white;
}

#cancel_btn {
    background-color: #e83556;
    color: white;
}